HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

config.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
test/target
test/.idea
test/logs
*.log
test/test-output
test/src/test/resources/application.properties
.idea
*.iws
*.iml
*.ipr
test/target
test/.idea
*.log

test/test-output
.env

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.env

